	<div class="toast-overlay" id="toastDom" aria-describedby="toastText" tabindex="-1">
		<div class="toast" id="toastInfo">
			<div class="icons-<%-locals.cls%> toast-icon"></div>
			<div class="toast-message" id="toastText"><%-locals.text%></div>
		</div>
	</div>